<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
</head>
<body>
{{ viewmessage }}
{{ unique_id }}
<!-- This is where all the html and css is
injected to create a flashcard over the game -->
<div id='overcard-container' class='nodisp flashcard'>
    <img id='overwhite' class='nodisp flashcard' src="{% static 'img/white.png' %}"/>
    <div id='overcard' class='nodisp flashcard'>
        <div id='overcard-question' class='qna nodisp flashcard'>Question Here
        </div>
        <div id='overcard-answer' class='qna nodisp flashcard'>
<!--        <form action='http://www.example.com/comments.php'> -->
        <form><div id='overcard-answer' class='qna nodisp flashcard'>
            <input type='textarea' id='answer_guess' class='nodisp flashcard' cols='20' rows='4'>
            </input>
        </form>
        <button type='button' value='cardFinished' class='studycard'>Finished</button>
        <button type='button' value='cardFinished' class='testcard'>Finished</button>
        </div>
    </div>
    </div>
</div>

<h1>High School CS Tutor</h1>
<div id='colcontainer'>
    <div id='statdiv' class='maincol'>
        <div id='wellstat' class='stat'>
            <div class='stat'>Well-being:&nbsp;</div>
            <div id='wellnum' class='stat2'></div>
        </div>
        <hr />
        <div id='moneystat' class='stat'>
            <div class='stat1'>Money:&nbsp;</div>
            <div id='moneynum' class='stat2'></div>
        </div>
        <hr />
        <div id='popstat' class='stat'>
            <div class='stat1'>Popularity:&nbsp;</div>
            <div id='popnum' class='stat2'></div>
        </div>
        <hr />
    </div>

    <div id='buydiv' class='maincol'>
        <div id='clickobj' class='object card_button nosel'>
            Babysit (Gain $)
        </div>
        <div id='vegobj' class='object card_button nosel'>
            Buy Vegetable (0)
        </div>
        <div id='pizzaobj' class='object card_button nosel'>
            Buy Pizza (0)
        </div>
        <div id='shoeobj' class='object card_button nosel'>
            Buy Cool Shoes (0)
        </div>
        <div id='dateobj' class='object card_button nosel'>
            Get a Dating Partner
        </div>
    </div>

    <div id='infodiv' class='maincol'>
    </div>
</div>

<hr />
<div id='collecting'>CS Tutor Demand: 0</div>
<div class='carddiv'>
<div id='study20' class='card_button nosel'>Study for 20% of demand as $</div>
<div id='test80' class='card_button nosel'>Test for 80% of demand as $</div>
</div>
<hr />
<div id='save' class='card_button nosel'>Save Game</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/site.js' %}"></script>
{% if initial %}
    <script type='text/javascript'>
        well_being = {{well_being}};
        money = {{money}};
        popularity = {{popularity}};
        veg = {{veg}};
        pizza = {{pizza}};
        pizzar = {{pizzar}};
        shoe = {{shoe}};
        partner = {{partner}};
        partner_gift = {{partner_gift}};
        veg_cost_money = {{veg_cost_money}};
        pizza_cost_money = {{pizza_cost_money}};
        shoes_cost_money = {{shoes_cost_money}};
        partner_cost_pop = {{partner_cost_pop}};
        gift_cost_money = {{gift_cost_money}};
        cs_demand = {{cs_demand}};
        $("#moneynum").html((Math.round(money * 100)/100));
        $("#vegobj").html("Buy Vegetable (" + Math.round






















 
